<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p>Name</p>
    <p><%= @donor.name %></p>

    <p>NRIC/UEN</p>
    <p><%= @donor.identification %></p>

  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <p>Contact</p>
    <p><%= @donor.phone_number %></p>

    <p>Email</p>
    <p><%= @donor.email_address %></p>

    <p>Address</p>
    <p><%= @donor.address %></p>

  </div>
</div>
